form {
  flex: 1; 
}

input, textarea {
  border: 1px black solid;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 1em;
  background-color:whitesmoke;
  
}

input {
  font-size: 1em; 
}

textarea {
  min-height: 10em;
}

button {
  font-size: 1.25em;
  text-decoration: underline;
  color: #08302F;
}

.buttons {
  display: flex;
  align-items: center;
}

.link {
  color: #08302F;
  text-decoration: underline;
}



.single-event-home,
.registration-home,
.create-event-home,
.login-home {
  display: flex;
  flex-wrap: wrap;  
  
}

