.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  flex-direction: row;
  flex: 1;
  padding: .25em 0 .25em 0;
  margin: 0 .5em 1em .5em;
}



.nav-item {
  color: #08302F;
  text-decoration: underline;
}
