.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
}

.main {
  margin: 0 .5em 0 .5em;
  color: #F6E8EA;
  padding-bottom: 20px;
  max-width: 100%;
  min-width: 100%;
  width: 920px;
  margin: 0 auto;
}

.dashboard, 
.single-event-home, 
.create-event-home,
.onboarding,
.user-info-home,
.login
{
  flex: 1 1 100%;
  padding: 0 3em 0 3em;
}

.header {
  background:#6F9CEB;
  color: whitesmoke;
  flex: 1 0 100%;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  max-width: 100%;
}

h2 {
  margin-block-start: unset;
  margin-block-end: unset;
  justify-content: center;
  margin: .5em 0 .5em 0;
  margin-left: 10%
}

Link button {
  cursor: pointer;
}

a:hover {
  background-color: #1A2D66;
}

a {
  padding: .1em;
  border-radius: 8px;

}

.login-from-signup button, .signup-from-login button {
  margin-top: 1em;
  font-size: .8em;
  color: #158463;
  background: #F6E8EA;
  opacity: .3;
  border: 2px solid #158463;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(246, 232, 234, 0.2);
  border-left: 1.1em solid #F6E8EA;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  display: none;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}