.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main {
  margin: 0 .5em 0 .5em;
  color: #08302F;
  padding-bottom: 20px;
}

.navbar, 
.dashboard, 
.landingpage, 
.single-event-home, 
.upcoming-events, 
.past-events,
.create-event-home
{
  flex: 1 0 100%;
}

.header {
  background:#6A7590;
  color: whitesmoke;
  flex: 1 0 100%;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: 0 0 15px 15px
}

h2 {
  margin-block-start: unset;
  margin-block-end: unset;
  justify-content: center;
  text-align: center;
  margin: .5em 0 .5em 0;
  text-decoration: underline;
}
