.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main {
  margin: 0 .5em 0 .5em;
  color: #08302F;
  padding-bottom: 20px;
}

/* .banner {
  margin: 0 .5em 0 .5em;
  padding-bottom: 20px;
} */


.dashboard, 
.landingpage, 
.single-event-home, 
.upcoming-events, 
.past-events,
.create-event-home,
.onboarding,
.user-info-home,
.login
{
  flex: 1 1 100%;
  padding: 0 3em 0 3em;
}

.main {
  width: 920px;
  margin: 0 auto;
}

.header {
  background:#6A7590;
  color: whitesmoke;
  flex: 1 0 100%;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: 0 0 15px 15px
}

h2 {
  margin-block-start: unset;
  margin-block-end: unset;
  justify-content: center;
  text-align: center;
  margin: .5em 0 .5em 0;
  text-decoration: underline;
}


.gotit, .signup {
  font-size: 1.5em;
}