.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dash-item {
  clear: both;
  margin: .25em;
  font-size: 2em; 
  color: #08302F;
  flex-direction: row;
  flex-grow: 0;
}

