h3, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.user-name-title {
  font-size: 1.6em;
}

.info-category {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  font-size: 1.4em;
  text-decoration: underline;
  margin-left: 0;
  margin-bottom: .2em;
}

p, Link {
  margin: .08em 1em .5em 0;
}

.buttons {
  margin: 1em 0 0 0; 
  justify-content: space-evenly;
  font-size: 1em;
  flex: 1 0 100%;
  min-width: 220px;
}

.confirm-delete {
  text-align: center;
  background-color: #6F9CEB;
  width: 60%;
  margin: 10% auto;
  padding: 1em;
  border-radius: 15px;
}

.event-info, .user-info  {
  background-color: #6F9CEB;
  width: 80%;
  margin: 5% auto;
  padding: 0 1em 1em 1em;
  border-radius: 15px;
  /* box-shadow: 0 0 20px #F6E8EA; */
  border: solid 2px;
  max-width: 800px;
  min-width: 220px;
  word-wrap: break-word;
  flex: 1 0 100%;
  justify-content: center;
  justify-items: center;
}


.delete-it {
  background-color: #A4243B;
}

.event-name {
  margin-left: 0;
}