ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  font-size: 1em;
  padding-bottom: .5em;
}

a {
  color: #F6E8EA;
}



.list-title {
  text-align: center;
  margin: 1em auto;
}

.li-event {
  padding: .06em;
  text-decoration: none;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
