
body {
  margin: 0;
  height: 100%;
  background-color: #0B132B;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  

}
/* 
body::after {
  content: "";
  background: url('../images/landing-page.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */


#root {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  height: 100%;

}

.app {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
  flex: 1 0 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  height: 100%;
 
}

p, li, a {
  font-size: 1.2em;
}
