.landingpage {
  max-width: 800px;
  min-height: 100%;
  height: 100%;
  bottom: 0;
  flex: 1 1 100%;
  padding: 1em 3em 1em 3em;
  margin: 0 auto;
  font-size: 1em;
  color: #F8EEE7;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}

.motto {
  text-decoration: none;
  font-size: 2.4em;
  font-weight: bold;
  margin: .25em 0 .25em 0;
  text-align: center;
}

.subMotto {
  text-align: center;
  font-size: 1.4em;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 100%;
  text-align: center;
}

.login-button button{
  color: #1db789;
  background: rgba(	246,	232,	234, .6);
  border: 2px solid #1db789;
}

.login-button button:hover {
  opacity: 1;
}

.login-button, .signup-button {
  padding: 0; 
}

.shrink-link {
  display: inline-block;
}

.signup-button:hover, .login-button:hover  {
  background: none;
}

.signup-button button, .login-button button {
  flex: 0 1;
  margin: .5em 0;
}

.landingpage span {
  font-size: 1.5em;
}

